* {
    box-sizing: border-box;
}


body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
}

header {
    border-top: 8px solid yellow;
}

.nav li {
    padding: 20px;
    display: inline-block;
}

li a {
    font-family: 'Upbolters', sans-serif;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
}


li:after {
    content: '';
    display: block;
    margin: auto;
    height: 6px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

li:hover:after {
    width: 100%;
    background: yellow;
}


.welcome {
    background: yellow;
    padding: 20px;
    margin: 80px;
    font-size: 40px;
    font-family: 'Upbolters', sans-serif;
    box-shadow: 10px 10px black;
}
